certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Cython==3.0.12
filelock==3.18.0
fsspec==2025.3.2
h11==0.14.0
huggingface-hub==0.30.1
idna==3.10
numpy==2.2.4
packaging==24.2
pillow==11.1.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.51.0
typing_extensions==4.13.1
urllib3==2.3.0
uvicorn==0.34.0
